<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos -->
    <link rel="stylesheet" href="/static/style/style.css" />

    <title>{% block title %} {% endblock %}</title>

    <!-- Icono del encabezado de la pagina -->
    <link rel="icon" type="image/.jpg" href="/static/images/GrupoTalse.jpg"/>
    <!-- elimina los caracteres de espacio en blanco iniciales y finales de una serie  -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="...">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="..."></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="..."></script>
</head>
<body class="sb-nav-fixed">
    {% if session.id_administrador and session['cedula_administrador'] != "000-000000-0000A" %}
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/index">GrupoTalse</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-3 me-lg-4">
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="notificaciones" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!--Cantidad de notificaciones-->
                    <span class="badge bg-danger">{{ notificacionesIndex[0] }}</span>
                </a>

                <!-- Notificaciones -->
                <ul class="dropdown-menu dropdown-menu-end shadow animated--grow-in" aria-labelledby="notificaciones">
                    <li>
                        <h6 class="dropdown-header">
                            Centro de notificaciones
                        </h6>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        {% if notificacionesIndex[1] %}
                        <a class="dropdown-item d-flex align-items-center" href="/solicitudes_espera">
                            
                            <div class="dropdown-list-image me-3">
                                <img class="rounded-circle" src="/static/images/GrupoTalse.ico" alt="..." width="30px">
                                <div class="status-indicator bg-success"></div>
                            </div>

                            <div class="font-weight-bold">
                                <div class="text-truncate">Solicitudes en espera pendientes: {{ notificacionesIndex[1] }} </div>
                            </div>
                        </a>
                        {% endif %}
                        {% if notificacionesIndex[2] %}
                        <a class="dropdown-item d-flex align-items-center" href="/registro_cuotas">
                            <div class="dropdown-list-image me-3">
                                <img class="rounded-circle" src="/static/images/GrupoTalse.ico" alt="..." width="30px">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">Reporte de deducciones {{ reporte }} pendiente</div>
                            </div>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="me-2 d-none d-lg-inline text-gray-600 small">{{session['usuario']}}</span>
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/contrasenia_admin">Perfil</a></li>
                    <li><a class="dropdown-item" href="/logout">Salir</a></li>
                </ul>
            </li>
        </ul>

    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Prestamos</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePrestamos" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-folder"></i></div>
                            Prestamos
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePrestamos" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/prestamos_activos">
                                    <i class="fa-solid fa-dollar-sign" style="margin: 5px;"></i>
                                    Activos
                                </a>

                                <a class="nav-link" href="/prestamos_cancelados">
                                    <i class="fa-solid fa-circle-xmark" style="margin: 5px;"></i>
                                    Cancelados
                                </a>
                            </nav>
                        </div>
                        <!--Fin prestamos-->

                        <!--Solicitudes de prestamo-->
                        <div class="sb-sidenav-menu-heading">Solicitudes Prestamo</div>
                        <a class="nav-link" href="/solicitudes_espera">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-envelope"></i></div>
                            Solicitudes en espera
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSolicitudes" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-folder-open"></i></div>
                            Solicitudes
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseSolicitudes" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/solicitud_aceptada">
                                    <i class="fa-regular fa-circle-check" style="margin: 5px;"></i>
                                    Aceptadas
                                </a>
                                <a class="nav-link" href="/solicitud_denegada">
                                    <i class="fa-solid fa-circle-xmark" style="margin: 5px;"></i>
                                    Denegadas
                                </a>
                            </nav>
                        </div> 

                        <!--Registro de cuotas-->
                        <div class="sb-sidenav-menu-heading">Reportes y Cuotas</div>
                        <a class="nav-link" href="/registro_cuotas">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-file-circle-plus"></i></i></div>
                            Registro de Cuotas
                        </a>
                        <a class="nav-link" href="/historial_reportes">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-book"></i></div>
                            Historial de Reportes
                        </a>

                        <!--Colaboradores-->
                        <div class="sb-sidenav-menu-heading">Colaboradores</div>
                        <a class="nav-link" href="/agregar_colaborador">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-square-plus"></i></div>
                            Agregar Colaborador
                        </a>
                        <a class="nav-link" href="/editar_colaborador">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-user-pen"></i></div>
                            Editar Colaborador
                        </a>
                        <a class="nav-link" href="/eliminar_colaborador">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-trash"></i></div>
                            Despedir Colaborador
                        </a>
                    </div>        
                </div>    
            </nav>
        </div>
        {% else %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand ps-3" href="/">GrupoTalse</a>
        </nav>
        {% endif %}
        <div id="layoutSidenav_content">
            {% block main %}
            {% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/datatables-simple-demo.js"></script>
    <script src="/static/js/setRoles.js"></script>
    <script src="/static/js/sideBar.js"></script>
    <script src="/static/js/ventanaConfirmacion.js"></script>
</body>
</html>